@import "../../styles/mixin";

.home-page {
  //@include wh(100%, 100%);

  //background: #0bad61;
  .wrapper {
    .page-top-bg {
      background: #0bad61;

      .page-top {
        background: #ffffff;
        overflow: hidden;
        //border-radius: 48px 48px 0px 0px;

        .title {
          font-size: 24px;
          color: #9b9b9b;
          text-align: center;
          line-height: 154px;
        }

        .circle-wrapper {
          margin: 0 auto;
          width: 400px;
          height: 400px;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: border-box;
          position: relative;
          //圆环
          .wrap {
            position: absolute;
            left: 0;
            top: 0;
            width: 400px;
            height: 400px;

            .circle-box {
              width: 400px;
              height: 400px;
              text-align: center;
            }

            .circle {
              width: 400px;
              height: 400px;
              position: absolute;
              left: 0;
            }
          }

          .data {
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            border-radius: 50%;

            .desc {
              margin-top: 102px;
              font-size: 24px;
              color: #666666;
              margin-bottom: 32px;
            }

            .num {
              font-family: $dinfont;
              color: #0bad61;
              font-size: 72px;
              margin-bottom: 16px;

              button {
                padding: 0;
                margin: 0;
                background: #ffffff;
                border: 0;
                color: #0bad61;

                &::after {
                  border: 0;
                }
              }
            }

            .target {
              font-size: 24px;
              color: #999999;
            }
          }
        }

        .cell {
          border-top: 1px solid #f0f0f0;
          margin: 0 auto;
          width: 690px;
          margin-top: 40px;
          padding: 30px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;

          button {
            padding: 0;
            margin: 0;
            background: #ffffff;
            border: 0;
            color: #0bad61;

            &::after {
              border: 0;
            }
          }

          .cell-it {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            .image {
              width: 86px;
              height: 86px;
              display: block;
              border-radius: 16px;
              margin-bottom: 16px;
            }

            .text {
              color: #909090;
              font-size: 24px;
            }
          }
        }
      }
    }


    .sub-title {
      padding-left: 30px;
      color: #707070;
      font-size: 26px;
      line-height: 92px;
      background: #f7f7f7;
    }

    .activity-con {
      background: #ffffff;
      padding: 0 40px;
      overflow: hidden;

      .activity-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 42px;
        margin-top: 40px;
        margin-bottom: 30px;

        .name {
          color: #313131;
          font-size: 32px;
        }

        .btn {

          width: 118px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;

          &.wait {
            background: #dcf3fc;
            color: #15a9fc;
          }

          &.ing {
            background: #d8f2e6;
            color: #0bad61;
          }

          &.end {
            background: #efefef;
            color: #999999;
          }
        }
      }

      .mark {
        font-size: 24px;
        color: #9a9a9a;
      }

      .activity-footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
        //align-items: flex-end;
        .footer-l {
          font-size: 22px;
          color: #303f4d;
          display: table-cell;
          vertical-align: bottom;

          text {
            font-family: $dinfont;
            font-size: 58px;
            margin-right: 12px;
            transform: translateY(4px);
          }
        }

        .footer-r {
          padding-top: 20px;
          font-size: 18px;
          color: #b6b6b6;
          display: table-cell;
          vertical-align: bottom;

          text {
            font-size: 28px;
            font-family: $dinfont;
            margin-right: 4px;
          }
        }
      }

      .line {
        height: 10px;
        border-radius: 10px;
        background: #F6F6F6;
      }

      .detail-wrapper {
        background: #ffffff;
        padding-top: 48px;

        .detail {
          border-top: 1px solid #f0f0f0;
          line-height: 108px;
          text-align: center;
          font-size: 28px;
          color: #21ac6c;
        }
      }

      .null {
        padding-bottom: 40px;
        padding-top: 56px;

        .null-image {
          width: 172px;
          height: 114px;
          display: block;
          margin: 0 auto;
          margin-bottom: 20px;
        }

        .null-desc {
          text-align: center;
          color: #929292;
          font-size: 28px;
        }

      }

      .create-btn {
        margin: 0 auto;
        margin-top: 60px;
        width: 360px;
        height: 68px;
        box-sizing: border-box;
        border: 2px solid #10b56e;
        color: #10b56e;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin-bottom: 60px;
        background: #ffffff;
      }
    }


  }

  .blank {
    height: 50px;
    background: #f7f7f7;
  }
}
