@import "../../styles/mixin";

.activity_detail-page {
  min-height: 100%;
  box-sizing: border-box;
  background: #0aae62;
  padding-bottom: 50px;

  .info {
    width: 702px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 32px;

    .info-item {
      margin-top: 36px;
      display: flex;
      align-items: center;
      .label {
        font-size: 28px;
        color: #323232;
      }

      .desc {
        color: #5b5b5b;
        font-size: 28px;
      }

      .title {
        color: #333333;
        font-weight: bold;
      }

      .subTitle {
        color: #888888;
      }
    }

    .btns {
      padding: 0 80px;
      display: flex;
      align-items: center;
      margin-top: 54px;

      .btn {
        flex: 1;
        text-align: center;
        font-size: 28px;
        color: #05b25e;

        &:first-child {
          border-right: 1px solid #cbcbcb;
        }
      }
    }
  }

  .opt-bar {
    width: 702px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;

    .name {
      font-size: 32px;
      color: #373737;
    }
  }

  .ranking {
    width: 702px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;

    .title {
      padding-left: 40px;
      font-size: 32px;
      color: #373737;
      line-height: 106px;
    }

    .null {
      height: 418px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 28px;
      color: #959595;
    }

    .filter {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #00ad5a;
      padding-bottom: 32px;

      .chevron-down {
        margin-left: 8px;
      }
    }

    .sum-data {
      height: 110px;
      display: flex;
      align-items: center;
      border: 2px dashed #f1f1f1;

      .sum-it {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 110px;

        .label {
          font-size: 28px;
          color: #666;
        }

        .value {
          font-size: 24px;
          color: #323232;
          transform: translateY(2px);

          text {
            font-family: $dinfont;
            font-size: 30px;

          }
        }
      }

      .only {
        justify-content: flex-start;
        padding-left: 40px;
      }
    }

    .tabs {
      background: #ffffff;
      height: 88px;
      display: flex;
      align-items: center;

      .tab {
        font-size: 26px;
        color: #9a9a9a;
        flex: 1;
        text-align: center;
        line-height: 88px;
        position: relative;

        &--active {
          color: #0bad5a;
        }

        .active-bar {
          content: ' ';
          width: 40px;
          height: 4px;
          border-radius: 2px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #0bad5a;
        }
      }
    }

    .content {
      flex: 1;
      background: #f7f7f7;
      box-sizing: border-box;
      padding-top: 16px;
      padding-bottom: 16px;

      .item {
        display: flex;
        align-items: center;
        padding: 0 38px 0 32px;
        justify-content: space-between;
        background: #ffffff;
        height: 140px;
        border-bottom: 1px solid #f6f6f6;

        .item-l {
          display: flex;
          align-items: center;

          .index {
            width: 40px;
            height: 48px;
            display: block;
            font-size: 20px;
            color: #676767;
            text-align: center;
            line-height: 48px;
          }

          .header-img {
            width: 86px;
            height: 86px;
            border-radius: 50%;
            margin-left: 20px;
            display: block;
            margin-right: 18px;
          }

          .name {
            font-size: 26px;
            color: #2f2f2f;
          }
        }

        .steps {
          font-size: 34px;
          font-family: $dinfont;
          transform: translateY(10px);
          color: #08ad5a;
        }

        .rate {
          .percent {
            color: #333333;
            font-size: 48px;
            font-family: $dinfont;
          }
          .times{
            font-size: 26px;
            color: #999999;
          }
        }
      }

      .me {
        .steps {
          color: #343434;
        }

        margin-bottom: 16px;
      }
    }
  }
}
